<div class="mx-auto text-center">
  <h2 class="text-base font-semibold text-indigo-600 tracking-wide uppercase">
    free your inbox
  </h2>
  <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">
    Your feed is ready.
  </p>

  <%= tag.div id: dom_id(@feed), class: "max-w-xl mt-5 mx-auto" do %>
    <div class="my-8">
      <h4 class="block text-md font-bold text-gray-700">Email address</h4>
      <p>Use this email address to sign up for the newsletter you want to read.</p>
      <%= render "clipboard_code_block", code: "#{@feed.token}@#{request.host}", class: "my-1" %>
      <%= render "feed_count", feed: @feed %>
    </div>

    <div id="feed-link" class="my-8">
      <h4 class="block text-md font-bold text-gray-700">Your feed</h4>
      <p><%= link_to "Subscribe to this feed here", feed_url(@feed, format: "json", protocol: "feed") %>.</p>
      <p class="text-sm mt-1">(If you don't have a feed reader, we like <%= link_to "Reeder", "https://reederapp.com" %> or <%= link_to "NetNewsWire", "https://netnewswire.com" %>.)
    </div>

    <div id="feed-link" class="my-8">
      <h4 class="block text-md font-bold text-gray-700">Feed URLs</h4>
      <p>If the subscribe link doesn't work, here's the feed URL.</p>
      <%= render "clipboard_code_block", code: feed_url(@feed, format: "json") %>
      <p class="mt-2">Or, if your feed reader doesn't support JSON Feeds:</p>
      <%= render "clipboard_code_block", code: feed_url(@feed, format: "atom") %>
    </div>

    <div class="my-8">
      <p>
        <b>Don't share these addresses.</b>
        Anyone with the email address or the feed URL can sign you up for spam or cancel your subscriptions.
      </p>
    </div>

  <% end %>
</div>

<%= turbo_stream_from @feed %>
