<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
 
 <title>André Arko</title>
 <link href="<%= feed_url(@feed, format: "xml") %>" rel="self"/>
 <link href="http://andre.arko.net/"/>
 <updated><%= @feed.updated_at.xmlschema %></updated>
 <id>http://andre.arko.net/</id>
 <author>
   <name>André Arko</name>
   <email>andre@arko.net</email>
 </author>

 <% @feed.posts.each do |post| %>
 <entry>
   <title><%= post.title.encode(xml: :text) %></title>
   <link href="<%= post_url(post) %>"/>
   <updated><%= post.updated_at.xmlschema %></updated>
   <id><%= post_url(post).encode(xml: :text) %></id>
   <content type="html"><%= post.html.encode(xml: :text) %></content>
 </entry>
 <% end %>
 
</feed>
