<% content_for :page_title, @feed.name %>
<% content_for :page_favicon, @feed.favicon_url %>

<div class="mx-auto max-w-xl">
  <p class="text-center my-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">
    <%= @feed.name %>
  </p>

  <%= form_with url: search_feed_posts_path, method: :get, local: true, class: "flex mt-6 gap-4" do |form| %>
    <%= form.text_field :q, value: params[:q], class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
    <%= form.submit "Search posts", name: nil, class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  <% end %>

  <ul id="posts" role="list" class="divide-y divide-gray-200 mt-8 bg-white shadow sm:rounded-md">
    <%= render @posts, cached: true %>
  </ul>
</div>

<%= turbo_stream_from @feed, :posts %>
