<!DOCTYPE html>
<html>
  <head>
    <title>Feed Your Email</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag.meta property: "og:title", content: "Feed Your Email" %>
    <%= tag.meta property: "og:image", content: "https://feedyouremail.arko.me/card.jpg" %>
    <%= tag.meta property: "og:description", content: "Generate an email address you can use for any newsletter, and a corresponding feed you can use to read those emails." %>

    <%= tag.meta property: "twitter:card",  content: "summary_large_image" %>
    <%= tag.meta property: "twitter:title", content: "Feed Your Email" %>
    <%= tag.meta property: "twitter:image", content: "https://feedyouremail.arko.me/card.jpg" %>
    <%= tag.meta property: "twitter:description", content: "Generate an email address you can use for any newsletter, and a corresponding feed you can use to read those emails." %>
    
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="alternate icon" href="/favicon.ico">

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <% if Rails.env.development? %>
      <%= javascript_include_tag "hotwire-livereload", defer: true %>
    <% end %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
