<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= sharing_meta_tags %>
    <%= auto_discovery_link_tag(:atom, feed_url(@feed, format: "atom"), title: @feed.name) if @feed&.persisted? %>
    <%= auto_discovery_link_tag(:json, feed_url(@feed, format: "json"), title: @feed.name) if @feed&.persisted? %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <% if Rails.env.development? %>
      <%= javascript_include_tag "hotwire-livereload", defer: true %>
    <% end %>
  </head>

  <body>
    <main class="container mx-auto mt-8 md:mt-28 px-5">
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
